.contain-detail{
    margin: 0;
  position: absolute;
  top: 50%;
 
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.launch-main{
  display: flex;
  justify-content: flex-end;
 
}