.contain-btn{
  padding: 0 30px;
  margin-bottom: 10px;
}

.join-meeting-btn{
  background: #C22F3A;
  border-radius: 1px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  border: none;
  padding: 7px;
}

.video-replacement{
  text-align: center;
  position: relative;
  display: block;
  height: 100%;
  background-color: #2e2e2e;
  width: 100%;
}

.meeting-main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  padding-top: 9%;
  grid-gap: 30px;
}

.webcam{
  height: inherit;
  width: inherit;
}

.video-replacement button{
  margin-bottom: 0px;
}
.contain-video{
  height: 27rem;
 
}
.img-icons{
  top: 73%;
  left: 36%;
  position:absolute;
  /* padding-top: 19rem; */
}
.img-icons img{
  padding: 0.5rem;

}
.img-iconss{
  top: 73%;
  left: 40%;
  position:absolute;
}
.img-iconss img{
  padding: 0.5rem;
  }
  .white-color{
    color: white;
  }

  @media only screen and (max-device-width:500px){
  
    .meeting-main{
      display: flex;
      flex-direction: column;
    }
    .img-iconss{
      top: 73%;
       left: 28%;
       position:absolute;
      }
      .img-icons{
        top: 73%;
         left: 15%;
         position:absolute;
        }
  }